body{
    margin: 30vw 30vh;
}

.btn-download {
    padding: 12px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: block;
}

.btn-download:hover {
    background-color: #0056b3;
}
